app component

<div class="container">
  <ul>
    <li *ngFor="let transaction of rawTransactions$ | async">{{ transaction.label }}</li>
  </ul>
  <ul>
    <li *ngFor="let category of rawCategories$ | async">{{ category.label }}</li>
  </ul>

  <ul>
    <li *ngFor="let transaction of transactionCombined$ | async">{{ transaction.label }} - {{ transaction.category }}</li>
  </ul>

  <!-- ---------------------------------------- -->

  <!-- <ul *ngIf="transactions$ | async as transactions">
    <li *ngFor="let transactionId of transactions.ids">{{ transactions.entities[transactionId].label }}</li>
  </ul>
  <ul *ngIf="categories$ | async as categories">
    <li *ngFor="let categoryId of categories.ids">{{ categories.entities[categoryId].label }}</li>
  </ul>

  <ul>
    <li *ngFor="let transaction of transactionCombined$ | async">{{ transaction.label }} - {{ transaction.category }}</li>
  </ul> -->

  <!-- ---------------------------------------- -->

  <!-- <ul *ngIf="allTransactions$ | async as transactions">
    <li *ngFor="let transaction of transactions">{{ transaction.label }}</li>
  </ul>
  <ul *ngIf="allCategories$ | async as categories">
    <li *ngFor="let category of categories">{{ category.label }}</li>
  </ul>

  <ul *ngIf="categoryEntities$ | async as categoryEntities">
    <li *ngFor="let transaction of allTransactions$ | async">
      {{ transaction.label }} - {{ categoryEntities[transaction.category]?.label }}
    </li>
  </ul> -->
  
</div>
